<app-navbar></app-navbar>

<div class="container mt-3">
    <div class="d-flex justify-content-between">
        <h4>Citas</h4>
        <div class="btn-group" role="group">
            <button (click)="obtenerTurnos()" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#turnosModal"> <i class="fa fa-question"></i> Turnos</button>
            <button (click)="obtenerEspecialidades()" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#especialidadesModal"> <i class="fa fa-question"></i> Especialidades</button>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-md-6">
            <input type="number" class="form-control" placeholder="Buscar..." (keyup)="buscarCitas($event)">
            <small>Busque las citas por DNI o por código</small>
        </div>
    </div>

    <div class="table-responsive mt-3">
        <table class="table table-striped">
            <thead>
                <tr class="text-center">
                    <th>DNI</th>
                    <th>Fecha</th>
                    <th>Especialidad</th>
                    <th>Turno</th>
                    <th>Código</th>
                    <th>Atentida</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cita of citas">
                    <td class="text-center"><a href="#" (click)="pacientePorDni(cita.dni)" data-bs-toggle="modal" data-bs-target="#dniModal">{{cita.dni}}</a></td>
                    <td class="text-center">{{cita.fecha}}</td>
                    <td class="text-center">{{cita.especialidad}}</td>
                    <td class="text-center">{{cita.turno}}</td>
                    <td class="text-center">{{cita.codigo}}</td>
                    <td>
                        <div class="form-check form-switch d-flex justify-content-center">
                            <input class="form-check-input" type="checkbox" role="switch" id="atendida"
                                [checked]="cita.atendida" (change)="cambiarEstadoAtendida(cita)">
                                <span>/</span>
                            <label class="form-check-label" for="atendida">{{cita.atendida}}</label>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item" [ngClass]="{'disabled': offset == 0, 'cursor-pointer': offset > 0}">
                <a class="page-link" (click)="paginaAnterior()" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item cursor-pointer">
                <a class="page-link" (click)="paginaSiguiente()" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>


<!-- MODAL TURNOS -->
<div class="modal fade" id="turnosModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Tabla de turnos</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="table-responsive container text-center">
            <table class="table">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Horario</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let turno of turnos">
                        <td>{{turno.codigo}}</td>
                        <td>{{turno.hora}}</td>
                    </tr>
                </tbody>
            </table>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- MODAL ESPECIALIDADES -->
<div class="modal fade" id="especialidadesModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Tabla de especialidades</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="table-responsive container text-center">
            <table class="table">
                <thead>
                    <tr>
                        <th>Especialidad</th>
                        <th>Código</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let especialidad of especialidades">
                        <td>{{especialidad.nombre | titlecase}}</td>
                        <td>{{especialidad.codigo}}</td>
                    </tr>
                </tbody>
            </table>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>


  <!-- MODAL DNI -->
  <div class="modal fade" id="dniModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Datos del paciente</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="table-responsive text-center">
            <table class="table table-striped">
              <tbody>
                <tr>
                  <td>Nombre:</td>
                  <td>{{paciente.nombre}}</td>
                </tr>
                <tr>
                  <td>Apellidos:</td>
                  <td>{{paciente.apellidos}}</td>
                </tr>
                <tr>
                  <td>Correo:</td>
                  <td>{{paciente.correo}}</td>
                </tr>
                <tr>
                  <td>Teléfono:</td>
                  <td>{{paciente.telefono}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
